* {
    margin: 0;
    padding: 0;
}

.container-fluid .row .contact {
    font-size: 10px;
    margin: 5px 0 0 98px;
}

.container-fluid .row .contact i {
    font-size: 12px;
}

.container-fluid .row .social {
    margin-right: 98px;
}

.container-fluid .row .social a {
    font-size: 14px;
    padding: 5px 6px 4px 0;
    border-right: 0.5px solid rgba(211, 211, 211, 0.5);
    box-sizing: border-box;
    text-decoration: none;
    color: black;
}

/* second page */

.sec {
    height: 59vh;
    background-color: lightgrey;
}

.sec>nav {
    margin: 0 90px 0 95px;
}

.sec>nav>#navbarNav {
    margin-top: 4px;
}

.sec>nav>#navbarNav>ul>li>a {
    font-size: 14px;
    text-decoration: none;
    position: relative;
}

.sec>nav>#navbarNav>ul>li>a:after {
    position: absolute;
    content: '';
    height: 1px;
    bottom: 4px;
    margin: 0 auto;
    left: 0;
    right: 0;
    width: 0%;
    transition: .5s;
}

.sec>nav>#navbarNav>ul>li>a:hover:after {
    width: 80%;
    background: black;
}

/* .sec>nav>#navbarNav>ul>li:hover a {
    color: black;
    border-bottom: 1px solid black;
    padding-bottom: 0px;
} */

.p_heading {
    font-size: 11px;
    margin-bottom: 5px;
}

.h4_heading {
    font-size: 1.3em;
    font-weight: bold;
}


.third .aboutus .aboutus-img {
    height: 100%;
    /* width: 377px; */
    background-color: lightgrey;
    width: 100%;

}

.third .aboutus .abt-img {
    padding: 62px 109px 0 17px;
    /* background-color: lightgrey; */
}

.third .aboutus {
    /* argin: 0 10px 0 10px;m */
}

.third .aboutus .aboutus-content {
    padding: 77px 0 0 113px;
}

.fourth {
    padding: 10px 109px 22px 110px;
}

.fourth>.row {
    margin-top: 38px;
}

.fourth>.row>.c-card>.ccard {
    height: 140px;
    background-color: lightgray;
    border-radius: 10% 0 10% 10%;
    padding: 10px;
    /* margin: 10px; */
    position: relative;
}

.fourth>.row>.c-card>.ccard>.nbr {
    position: absolute;
    border-radius: 50%;
    border: 1px solid;
    top: -20px;
    padding: 5px 5px;
    font-weight: 900;
    left: 0;
    right: 0;
    margin: auto;
    width: 34px;
}

.fourth>.row>.c-card>.ccard>.btm {
    position: absolute;
    bottom: 0;
    font-size: 13px;
    color: black;
    padding-bottom: 5px;
    border-bottom: 1px solid black;
    box-sizing: content-box;
    margin-right: 30px;
}


.fifth {
    margin: 19px 105px 0 110px;
}

.fifth>.p_heading {
    text-transform: uppercase;
}

.fifth .row .vision {
    height: 230px;
    background-color: lightgray;
    border-radius: 8% 0 8% 8%;
    border-top: 18px solid black;
    margin: 0px 0px;
    padding: 40px 10px 0 10px;
    overflow: hidden;
}

.fifth .row .vision h5 {
    text-align: center;
    margin-top: 50px;
}

.fifth .row .vision p {
    font-size: 9px;
    text-align: justify;
    margin-top: 3px;
}


.sixth {
    margin: 41px 103px 0 109px;
}

.sixth .expert {
    text-align: center;
    background-color: lightgray;
    height: 246px;
    border-radius: 10% 0 10% 10%;

}

.sixth .expert .expert-top {
    height: 80px;
    background-color: rgb(83, 80, 80);
    border-radius: 19px 0 19px 19px;
    position: relative;
}

.sixth .expert .expert-top .circle {
    width: 93px;
    height: 91px;
    border: 3px solid white;
    border-radius: 50%;
    background-color: rgb(138, 134, 134);
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 31px;
}

.sixth .expert h5 {
    margin-top: 60px;
    font-weight: 900;
    font-size: 13px;
}

.sixth .expert p {
    font-size: 13px;
    margin: 1px;
    padding: 1px;
}


.footer {
    height: auto;
    background-color: lightgrey;
    margin-top: 45px;

}

.seven {
    padding: 40px 86px 0 97px;
}

.seven p {
    font-size: 11px;
}

.seven .logo a {
    text-align: center;
    width: 25px;
    height: 25px;
    border: 1px solid;
    border-radius: 50%;
    line-height: 2;
}

.seven .links ul {
    padding-left: 0;
}

.seven .links ul li {
    list-style: none;
}

.seven .links ul li::before {
    content: "\00BB";
}

.seven a {
    text-decoration: none;
    color: #212529;
    font-size: 12px;
}

.seven .pune span,
.seven .mumbai span {
    font-size: 12px;
    text-align: left;
}

.seven .pune p,
.seven .mumbai p {
    display: inline-flex;
}

.seven .pune i,
.seven .mumbai i {
    margin-right: 10px;
}

/* media query for mobile */
@media only screen and (max-width: 575px) {
    .container-fluid .row .contact {
        margin: 5px 0 0 0px;
    }

    .container-fluid .row .social {
        margin-right: 1px;
    }

    .sec>nav {
        margin: 0;
    }

    .sec>nav>#navbarNav>ul>li>a:hover:after {
        width: 13%;
    }

    .sec>nav>#navbarNav>ul>li>a:after {
        height: 1px;
        bottom: 4px;
        left: 1px;
        right: 0;
        margin: 0;
        width: 0%;
    }

    .third .aboutus .aboutus-content {
        padding: 30px 15px 0 15px;
    }

    .third .aboutus .aboutus-img {
        height: 50vh;
        width: 92vw;
        padding: 15px;
    }

    .third .aboutus .abt-img {
        padding: 15px 0 0 15px;
    }

    .fourth {
        padding: 40px 15px 0px 15px;
    }

    .fourth>.row>.c-card>.ccard {
        height: 173px;
        margin-top: 35px;
    }

    .fifth {
        margin: 20px 15px 0 15px;
    }

    .fifth>.row>.mission {
        margin-top: 20px;
    }

    .fifth .row .vision {
        /* margin: 0px 15px; */
    }

    .fifth .row .vision h5 {
        margin-top: 80px;
    }

    .sixth {
        margin: 25px 15px 0 15px;
    }

    .sixth .expert {
        margin-top: 20px;
    }

    .seven {

        padding: 20px 15px 0px 15px;

    }

    .seven a {
        margin-bottom: 15px;
    }

    .seven .pune,
    .seven .mumbai,
    .seven .links,
    .seven .logo {
        padding: 0px;
    }
}

@media only screen and (min-width:576px) and (max-width:767px) {
    .container-fluid .row .contact {
        margin: 5px 0 0 40px;
    }

    .container-fluid .row .social {
        margin-right: 40px;
    }

    .sec {
        height: 90vh;
    }

    .sec>nav {
        margin: 0 40px 0 40px;
    }

    .sec>nav>#navbarNav>ul>li>a:hover:after {
        width: 9%;
    }

    .sec>nav>#navbarNav>ul>li>a:after {
        height: 1px;
        bottom: 4px;
        left: 1px;
        right: 0;
        margin: 0;
        width: 0%;
    }

    .third .aboutus .aboutus-content {
        padding: 50px 0 0 0px;
    }

    .third {
        width: 100%;
    }

    .container,
    .container-sm {
        max-width: 582px;
    }

    .third .aboutus .abt-img {
        padding: 50px 0px 0 0px;
    }

    .third .aboutus .aboutus-img {
        width: 290px;
    }

    .third .aboutus .aboutus-content {
        padding: 50px 0px 0 40px;
    }

    .fourth {
        padding: 25px 40px 0px 40px;
    }

    .fourth .row .ccard {
        margin: 35px 0px 0 0px;
    }

    .fifth {
        margin: 20px 40px 0 40px;
    }

    .fifth .row .vision {
        margin: 15px 0px;
    }

    .fifth .row .vision h5 {
        margin-top: 80px;
    }

    .sixth {
        margin: 20px 40px 0 40px;
    }

    .sixth .expert {
        height: 250px;
        margin: 10px 0px;
    }

    .seven {
        padding: 20px 40px 0 40px;
    }

    .seven .pune,
    .seven .mumbai,
    .seven .links,
    .seven .logo {
        padding: 0px;
    }

}

@media only screen and (min-width:768px) and (max-width:992px) {
    .container-fluid .row .contact {
        margin: 5px 0 0 15px;
    }

    .container-fluid .row .social {
        margin-right: 15px;
    }

    .sec {
        height: 35vh;
    }

    .sec>nav {
        margin: 0 15px 0 15px;
    }

    .sec>nav>#navbarNav>ul>li>a:hover:after {
        width: 5%;
    }

    .sec>nav>#navbarNav>ul>li>a:after {
        height: 1px;
        bottom: 4px;
        left: 4px;
        right: 0;
        margin: 0;
        width: 0%;
    }

    .third .aboutus .aboutus-content {
        padding: 50px 0 0 15px;
    }

    .third .aboutus .abt-img {
        padding: 50px 1px 0 15px;
    }

    .third .aboutus .aboutus-img {
        height: 30vh;
        width: 44vw;
    }

    .fourth {
        padding: 11px 15px 11px 15px;
    }

    /* .fourth .row .ccard {
        
    } */
    .fourth>.row>.c-card>.ccard {
        height: 215px;
        margin: 38px 3px 0 3px;
    }

    .fifth {
        margin: 19px 12px 0 15px;
    }

    .fifth .row .vision {
        margin: 17px 0px;
    }

    .fifth .row .vision h5 {
        margin-top: 80px;
    }

    .sixth {
        margin: 20px 15px 0 15px;
    }

    .sixth .expert {
        height: 250px;
        margin: 10px 0px;
    }

    .seven {
        padding: 20px 15px 0 15px;
    }

    .seven .pune,
    .seven .mumbai,
    .seven .links,
    .seven .logo {
        padding: 0px;
    }

}